.footer-out {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 7%;
    ul {
        flex: 1;
        list-style: none;
    }
    li {
        display: inline-block;
        margin: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        color: var(--text-color);  
    }
    
}

.footer-out.light {
    background-color: var(--bg-color-light); 
    color: var(--text-color-light); 
}

.footer-out.dark {
    background-color: var(--bg-color-dark); 
    color: var(--text-color-dark); 
}

.footer-icon {
    font-size: 24px;
}

.footer-out.light .footer-icon {
    color: #000;
}

.footer-out.dark .footer-icon {
    color: #fff; 
}

.footer-out.light .footer-text {
    p {
        color: #000;
    }
}

.footer-out.dark .footer-text {
    p {
        color: #fff; 
    }
}

@media only screen and (max-width: 448px) {
    .footer-icon {
        font-size: 18px;
    }

    .footer-cont {
        li {
            font-size: 10px;
            margin-right: 10px;
        }
    }

    .footer-out {
        padding: 0;
    }
}